---
import FeaturedPosts from "../components/FeaturedPosts.astro";
import RecentPosts from "../components/RecentPosts.astro";
import SearchPosts from "../components/SearchPosts.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="py-6">
    <div class="text-4xl max-w-lg font-medium pt-16 pb-11">
      <h1
        class="bg-gradient-to-r from-slate-100 to-slate-400 inline-block text-transparent bg-clip-text"
      >
        Alvin Liju
      </h1>
    </div>
    <p
      class="pb-5 bg-gradient-to-r from-slate-100 to-slate-400 inline-block text-transparent bg-clip-text"
    >
      I am an 18-year-old cybersecurity researcher learning cybersecurity from scratch. I aspire to be a penetration tester and bug bounty hunter. With a background as a MERN stack developer, I bring development skills into my security work. I'm passionate about protecting and securing the digital world.
    </p>
    <SearchPosts />
    <div class="border-t border-zinc-800 my-10"></div>
    <FeaturedPosts />
    <div class="border-t border-zinc-800 my-12"></div>
    <RecentPosts />
  </div>
</MainLayout>
